<%# Footer Above elements%>
<footer class="text-center">
	<div class= "footer-above">
		<div class= "container">
			<div class= "row">
				<h3 class="section-heading">Nutrition by Ryan</h3>
				<hr class="light">
					<div class= "footer-col col-md-12">
						<p>
							<%= link_to "BLOG", "#"%> <%= link_to "PRODUCTS/SERVICES", "#"%> <%= link_to "ABOUT", "#"%> <%= link_to "CONTACT", "#"%>
						</p>
							<h4>Find Us</h4>
			          <ul class="list-inline">
			              <li>
			                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
			              </li>
			              <li>
			                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
			              </li>
			              <li>
			                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
			              </li>
         </ul>
      </div>
     </div>
    </div>
   </div>

<%# Footer Below Elements%>
     <div class="footer-below">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  &copy; Nutrition by Ryan 2016
              </div>
          </div>
      </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<%# Scroll to top button 

<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

%>

