<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The journey to a healthier you starts today</h1>
            <hr>
            <p>Learn how to lose weight and keep it off, all while eating the foods you love!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started</a>
        </div>
    </div>
</header>

